body{
    font-size:62.5%;
    line-height:1.5;
    font-family: 'Raleway', sans-serif;
    color:#333;
    background:#f1f1f1;
}
*, *:before, *:after{
    -webkit-box-siziing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    color:#00ccff;
    text-decoration:none;
    font-size:1.6em;
}
a:hover{
    text-decoration:underline;
    color:#006666
}
.container{
    max-width:80%;
    margin:0 auto;

}
img,
picture,
video,
embed,
iframe{
    max-width:100%;
}
.header{
    width:100%;
    min-height:58px;
    margin: 2em 0;
    box-shadow:1px 1px 10px rgba(124, 124, 124, 0.2);
    display:block;
    background:#FFF;
}

.logo{
    float:left;
    width:25%;
    max-height:20%;
}
.menu{
    width:75%;
    float:right;
}
.clear{
    clear:both;
}

.menu input{
   width:70%;
   float:left;
   padding:10px;
   margin:3em 0;
   font-size:18px;
   border:2px solid #e8e8e8;
   border-radius:50px 0 0 50px;
}
::-webkit-input-placeholder {
    color:#e8e8e8;
 }
.menu a{
    width:25%;
    margin:3.2em 1em 3.2em -2px;
    padding:9.5px;
    float:left;
    display:block;
    background:#e8e8e8;
    font-weight:bold;
    font-size:17px;
    color:#333;
    text-align:center;
    border-radius:0 50px 50px 0;
    cursor:pointer;
}
.menu a:hover{
    background:red;
    color:#FFF;
    text-decoration:none;
}
.menu li{
    font-size:1.2em;
    margin: 4.5em 0 0 2em;
    display:inline-block;
}
.menu li a{
    color:#999;
}

.banner{
    background:url(../img/banner.png) center;
    background-size:cover;
    height:450px;
    margin-bottom:4.8em;
    position:relative;
}

.caixa{
    width:40%;
    padding: 2.4em 4em;
    position:absolute;
    top:48px;
    background:rgba(0, 0, 0, 0.3);
}

h1{
    margin: 0 0;
    font-size:3em;
    font-weight:600;
    color:#FFF;
}
.caixa p{
    font-size:1.8em;
    font-weight:300;
    color:#FFF;
}

.coluna{
    width:23.5%;
    float:left;
    margin-right:2%;
    box-shadow:1px 1px 10px rgba(124, 124, 124, 0.2);
    background:#FFF;
}
.coluna:last-child{
    margin-right:0;  
}
.coluna img{
    width:100%;
}
h2{
    font-size:2.4em;
    font-weight:600;
}
p{
    font-size:1.6em;
}

.footer{
    width:100%;
    margin:2.4em 0;
    float:left;
    clear:both;

    background:#FFF;
    text-align:center;
    box-shadow:1px 1px 10px rgba(124, 124, 124, 0.2);

}

.footer small{
    font-size:1.4em;
}
.footer a{
    font-size:1em;
}

/*CONTENT PAGE */
.artigo{
    width:78%;
    float:left;
    background:#FFF;
    min-height:500px;
    padding:10px 20px;
    margin-bottom:30px;

    display:flex;
    align-items: center;
    justify-content: center;
}

.artigo .videoarea{
    width:100%;
     height:450px;
     border:0;
}

.sidebar{
    width:20%;
    float:right;

}
.sidebar div:first-child{
    margin:0;
}
.sidebar div{
    width:100%;
    margin:20px 0;
    background:#FFF;

}
.sidebar div img{
    width:100%;
    padding:10px;
}

.coluna3{
    width:78%;
    float:left;
    margin-right:2%;
    box-shadow:1px 1px 10px rgba(124, 124, 124, 0.2);
    background:#FFF;
    display:flex;

flex-wrap:wrap;
text-align:center;
}
.coluna3 h2{
    text-align:center;
    width:100%;
    margin:25px 0 10px 0;
}
.coluna3 a{
    width:80px;
    height:80px;
    padding:10px;
    border:2px solid red;
    margin:10px auto 40px auto;
    border-radius:5px;

}
/*CONTENT PAGE */


@media screen and (max-width:1128px){

    .container{
        max-width:95%;
    }
}

@media screen and (max-width:768px){
    .caixa{
        width:65%;
    }
    .coluna{
        width:49%;
        margin-bottom:2.4em;
        margin-right:2%;
    }
    .coluna:nth-child(2n+2){
        margin-right:0;
    }

    .logo{
        width:30%;
        margin-top:1.2em;
    }
}
@media screen and (max-width:718px){
    .banner{
        position:relative;
        float:left;
        margin:0;
        height:250px;
        width:100%;
    }
    .caixa{
        position:relative;
        display:block;
        float:left;
        margin-top:100px;
        width:100%;
        background:#000;
    }

    .caixa h1{
        font-size:2.5em;
    }
    .principal{
        margin-top:450px;
    }

}

@media screen and (max-width:640px){
    .menu{
        width:100%;
    }
    .menu ul{
        float:left;
        font-size:0.8em;
    }
    .menu li:first-child{
        margin-left:0;
    }

    /*    .logo{
            width:100%;
        }*/
}

@media screen and (max-width:520px){
    .logo{
        width:100%;
        display:block;
    }
    .header{
        display:inline-block;
    }
    .menu{
        width:100%;
        display:block;
    }

    .coluna{
        width:100%;
        margin-right:0;
    }
    .caixa{
        padding: 1.2em 2em;
    }
    .caixa{
        position:relative;
        display:block;
        float:left;
        margin-top:80px;
        width:100%;
        background:#000;
    }
    .clearfix:before,
    .clearfix:after{
        content: " ";
        display:table;
    }

    .clearfix:after{
        clear:both;
    }
}